<%- include('partials/header.ejs') %>

<% if (results) { %>
    <div>Position de l'aventurier :</div>
    <%= results%>

<% } %>




<div><a href="/">Accueil</a></div>
<%- include('partials/footer.ejs') %>